<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div>
        <h1>Let's learn Webpack 5: Home Pages</h1>
        <img src="./images/babel.png" />
        <p id="secret-paragraph">You can't see this all the time</p>
    </div>
    {{> ./partials/footer}}
</body>
</html>
